<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">

  <head>
    <link rel="stylesheet/less" type="text/css" href="/css/style.less" />
    <script src="/js/less-1.5.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/pygments.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ AUTHOR }}" />
{% block description %}
    <meta name="description" content="{{ TAGLINE }}" />
{% endblock %}
{% for name, content in DEFAULT_METADATA %}
    <meta name="{{ name }}" content="{{ content }}" />
{% endfor %}

{% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM|replace("/index.xml", "/") }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed - All Posts" />
{% endif %}
{% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed - All Posts" />
{% endif %}
{% if categories %}
{% for cat, null in categories %}
{% if CATEGORY_FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(cat)|replace("/index.xml", "/") }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed - {{ cat|capitalize() }} Posts" />
{% endif %}
{% if CATEGORY_FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(cat) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed - {{ cat|capitalize() }} Posts" />
{% endif %}
{% endfor %}
{% endif %}

{% block head %}
{% endblock %}

    <title>
      {% block title %}{{ SITENAME }}{% if TAGLINE %} - {{ TAGLINE }}{% endif %}{% endblock %}
    </title>

{% include "modules/analytics.html" %}
  </head>

  <body>
    <aside>
      <div id="user_meta">
        <a href="/">
{% if USER_LOGO_URL %}
          <img src="{{ USER_LOGO_URL }}" alt="logo">
{% else %}
          <img src="/images/logo.png" alt="logo">
{% endif %}
        </a>
        <h2><a href="/">{{ AUTHOR }}</a></h2>
        <p>{{ TAGLINE }}</p>
{% if AUTHOR_SUMMARY %}
        <p id="author_summary"><b>About {{AUTHOR}}</b><br />{{ AUTHOR_SUMMARY }}</p>
{% endif %}
        <ul id="social_links">
{% if GOOGLE_PLUS_USERNAME %}
          <li><a href="https://plus.google.com/+{{ GOOGLE_PLUS_USERNAME }}/" title="{{ AUTHOR }} on Google+" rel='me' target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
{% endif %}
{% if TWITTER_USERNAME %}
          <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}/" title="{{ AUTHOR }} on Twitter" rel='me' target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
{% endif %}
{% if LINKEDIN_USERNAME %}
          <li><a href="https://www.linkedin.com/in/{{ LINKEDIN_USERNAME }}/" title="{{ AUTHOR }} on LinkedIn" rel='me' target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
{% endif %}
{% if GITHUB_USERNAME %}
          <li><a href="https://github.com/{{ GITHUB_USERNAME }}/" title="{{ AUTHOR }} on GitHub" rel='me' target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
{% endif %}
        </ul>
        <ul>
{% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
{% endfor %}
{% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
{% endfor %}
        </ul>
      </div>
    </aside>

    <main>
      <header>
        <nav><ul id="menu">
          <li><a href="/"><i class="fa fa-home"></i> Home</a>
{% if DISPLAY_PAGES_ON_MENU %}
          <ul>
{% for p in pages %}
            <li><a href="/{{ p.url }}">{{ p.title }}</a></li>
{% endfor %}
          </ul>
{% endif %}
          </li>
{% if DISPLAY_CATEGORIES_ON_MENU and categories %}
          <li><a>Article Archives</a>
            <ul>
{% for category, null in categories %}
              <li><a href="/{{ category.url }}">{{ category|capitalize() }}</a></li>
{% endfor %}
            </ul>
          </li>
{% elif DISPLAY_CATEGORIES_ON_MENU %}
          <li><a href="/archive.html">Article Archives</a></li>
{% endif %}
{% if FEED_ALL_ATOM and CATEGORY_FEED_ATOM %}
          <li><a><i class="fa fa-rss"></i> Site Feeds</a>
            <ul>
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM|replace("/index.xml", "/") }}">All Posts</a></li>
{% for category, null in categories %}
              <li><a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category)|replace("/index.xml", "/") }}">{{ category|capitalize() }}</a></li>
{% endfor %}
            </ul>
          </li>
{% endif %}
{% block header %}
{% endblock header %}
        </ul></nav>
      </header>

{% block content %}
{% endblock %}

      <footer>
{% block footer %}
{% endblock %}
      </footer>

      <div id="ending_message">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />
          Except where otherwise noted, the contents of this website are &copy; {{ COPYDATE }} &mdash; {{ CURDATE }} <a xmlns:cc="http://creativecommons.org/ns#" href="{{ SITEURL }}" property="cc:attributionName" rel="cc:attributionURL">{{ AUTHOR }}</a> and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          Built using <a href="http://getpelican.com" target="_blank">Pelican</a>.
          Theme adapted from <a href="https://github.com/giulivo/pelican-svbhack" target="_blank">pelican-svbhack</a>.
          {% if INTERNET_DEFENSE_LEAGUE %}Member of the <a href="http://internetdefenseleague.org" target="_blank">Internet Defense League</a>.{% endif %}
        </p>
      </div>
    </main>
{% include "modules/idl.html" %}
  </body>
</html>
